<h1>class details Page</h1>

<p>{{foundClass.className}}</p>
<p>{{foundClass.description}}</p>
{{#if isInstructor}}
  {{#if isOwner}}
<a href="/classes/{{foundClass._id}}/edit-class"><button>Edit</button></a>
<form action="/classes/{{foundClass._id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>
  {{/if}}
{{else}}
{{#if isBooked}}
    <form action="/classes/{{foundClass._id}}/cancel-class" method="post">
        <button type="submit">Cancel Class</button>
</form>
{{/if}}
{{#if isNotBooked}}
      <form action="/classes/{{foundClass._id}}/book-class" method="post">
        <button type="submit">Book Class</button>
      </form>
{{/if}}
{{/if}}
